*{
    font-family: 'Montserrat', sans-serif;
}

.paiement-form{
    font-size: 12px;
    font-weight: 700;
}

.paiement-form input{
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}

.commandes-details label{
    font-size: 12px;
    font-weight: 700;
}

.commandes-details ldiv{
    font-size: 14px;
    padding: 5px  !important;
    margin-bottom: 6px;
}

.search-bar{
    width: 40%;
    margin-left: 10%;
}

